Семинар 6 функции/.vscode/settings.json
Семинар 7 Функции высшего порядка/.vscode/settings.json
Семинар 8  Работа с файлами/.vscode/settings.json
.gitignore

Семинар 8  Работа с файлами/phonebook.csv
.gitignore
